.o-img-flex {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    height: 100%;
    margin-top: -46px;
    justify-content: center;
    padding: 0 20px;
    @include breakpoint(medium) {
        padding: 0 70px;
        margin-top: -44px;
    }
    @include breakpoint(large) {
        padding: 0 70px;
        margin-top: -70px;
    }
    &--hide-sm {
        display: none;
        @include breakpoint(large) {
            display: flex;
        }
    }
    
    &__item {
        display: inline-block;
        margin: 0 auto;
    }
    img {
        margin: 0 auto;
        width: 600px;
    }
}