.o-wrap {
    &__left {

        
        @include breakpoint(medium) {
            // All CSS in here goes inside the media query
            position: relative;
        margin-right: 80px!important;
        transition: margin 0.5s ease;
        &.open {
            margin-right: 50%!important;
        }
          }
    }
    &__right {
        &.open {
            .c-bar {
                top: 0;
                // overflow-y: auto;
                
                &__content {
                    display: block;
                    // min-height: 500px;
                }
            }
        }
        
        @include breakpoint(medium) {
            width: 80px;
            transition: width 0.5s ease;
            
            &.open {
                width: 50%;
               
            }
        }
    }
}