.c-list-hover {
  @include breakpoint(medium only) {
    // width: 80%;
  }
  @include breakpoint(large) {
    // width: 80%;
  }
  
  
  &__link {
    color: $white;
    // display: block;
    // display: inline; 
    .accordion-item.is-active &  {
      color: #5881BF;
      
    }

    
    &:hover,
    &:focus {
      color: #5881BF;
      .c-list-hover__icon {
        display: inline;
      }
    }
 
 
 
    // &.active {
    //   .c-list-hover__sm-img{
    //     display: block;
    //   }
    // }
  }
  &__icon {
    display: none;
 
    // vertical-align: text-top;
  }
 
  &__lg-info {
    display: none;
    // font-size: 14px;
    // padding: 10px 0;
    color: $white;
    .is-active & {
      // color: $white;
      color: #5881BF;
      @include breakpoint(large) {
        display: block;
      }
      @include breakpoint(xxlarge) {
        display: block;
        // width: 80%;
      }
    }
  }
  &__sm-img {
    display: none; 
    width: 100%;
    max-width: 400px;
    .is-active & {
      display: block;
      @include breakpoint(large) {
        display: none;
      }
    }
    @include breakpoint(large) {
      display: none;
    }
  }
  > li {
    // margin-bottom: 10px;
  }
}