.c-main-nav {
    // height: 20px;
    position: relative;
    z-index: 10;
    @include breakpoint(large) {
        height: 70px;
    }
    &__list {

    }
     &__item {
        //  text-align: center;
        &:first-child,
        &:nth-child(2), {
            text-align: left;
        }
        &:last-child,
        &:nth-child(3), {
            text-align: right
        }
        &:nth-child(2), {
            a {
                margin-left: 15%;
            }
        }
        &:nth-child(3), {
          
            a {
                margin-right: 10%;
            }
        }
         &.active {
             a {
                background: transparent;
                color: $black;
             }
         }
         > a {
            padding: 0;
           
            color: lighten($black, 60);
            font-size: 20px;
            @include breakpoint(medium) {
               
                font-size: 30px;
             
            }
            @include breakpoint(large) {
           
                font-size: 30px;
                &:hover {
                    color: lighten($black, 30);
                }
            }
         }
        &:first-of-type {
            // text-align: left;
        }
         &:last-of-type {
            // text-align: right;
         }
         
     }
}