.c-main-logo {
  

    margin-left: 22px;
    display: none;
    transition: width 0.2s linear;
    
    &--show {

        display: block;
        position: fixed;
        z-index: 9;
        bottom: 0;
        left: 0;
        margin-bottom: 22px;
        width: 100px;
     
        &.scroll {
            width: 70px;
            
        }
    }
    &--show-nav {

        display: block;
        position: fixed;
        z-index: 9;
        bottom: 0;
        left: 0;
        // margin-bottom: 60px;
        width: 70px;
        margin-bottom: 60px;
        @include breakpoint(1024px) {
            margin-bottom: 22px; 
        }
    }
    // @include breakpoint(800px) {

    // }
    @include breakpoint(800px) {
        
        display: none;
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        margin-bottom: 22px;
        margin-left: 22px;
        width: 150px;
   
        &.scroll {
            width: 90px;
            
        }
    }
    @include breakpoint(1024px) {
        display: block;
        margin-bottom: 22px; 
    }
    
    
}