.c-orbit {
  margin: 0 auto;


  
  &--custom {
    .orbit-previous {
     top: 0;
     height: 100%;
     width: 70%;
    // background-color: red;
    transform: none;
    display: none;
      @include breakpoint(large) {
        left: -20%;
        display: block;
        &:hover {
          cursor: url(../img/left-arrow.png), auto;
        
        }
        .fa {
          font-size: 40px;
          display: none;
        }
      }
      
    }
    .orbit-next {
      top: 0;
     height: 100%;
     width: 70%;
    // background-color: red;
    transform: none;
    display: none;
      @include breakpoint(large) {
        right: -20%;
        display: block;
        &:hover {
          cursor: url(../img/right-arrow.png), auto;
        
        }
        .fa {
          font-size: 40px;
          display: none;
        }
      }
 
    }
  }
  .orbit-previous,
  .orbit-next {
    cursor: pointer;
  }
  .orbit-figure {
    a {
      display: block;
    }
  }
}