.c-orbit {
  margin: 0 auto;


  
  &--custom {
    .orbit-previous {
      top: 80%;
    
      @include breakpoint(large) {
        left: -100px;
        .fa {
          font-size: 40px;
        }
      }
      
    }
    .orbit-next {
      top: 20%;
     
      @include breakpoint(large) {
        right: -100px;
        .fa {
          font-size: 40px;
        }
      }
 
    }
  }
  .orbit-previous,
  .orbit-next {
    cursor: pointer;
  }
}