.c-orbit {
  margin: 0 auto;


  
  &--custom {
    &.orbit {
      position: static;
      z-index: 8;
    }
    .orbit-previous {
     top: 0;
     height: 100%;
     width: 50% ;
    // background-color: red;
    transform: none;
    display: none;
      // @include breakpoint(medium) {
        left: 0;
        display: block;
           @include breakpoint(800) {
            width: calc(50% - 40px) ;
           }
        &:hover {
          cursor: url(../img/left-arrow.png), auto;
        
        }
        .fa {
          font-size: 40px;
          display: none;
        }
      // }
      
    }
    .orbit-next {
      top: 0;
     height: 100%;
     width: 50%;
    // background-color: red;
    transform: none;
    display: none;
      // @include breakpoint(medium) {
        right: 0;
        display: block;
        @include breakpoint(800) {
        
          width: calc(50% - 40px) ;
          right: 80px;
        }
        &:hover {
          cursor: url(../img/right-arrow.png), auto;
        
        }
        .fa {
          font-size: 40px;
          display: none;
        }
      // }
 
    }
  }
  .orbit-previous,
  .orbit-next {
    cursor: pointer;
  }
  .orbit-figure {
    a {
      display: block;
    }
  }
}