.c-reveal {
    background-color: $primary-color;
    min-height: 100%;
    height: initial;
    width: 100%;
    top: 0!important;
    margin: 0;
    max-width: none;
    // padding-bottom: 80px;
    padding: 0;
    &__modal {

    }
    &--middle {
        height: 100%;
        .c-slider {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
    }
    // .c-slider {}
    .close-button {
       
        color: darken($white, 10);
        z-index: 999;
        @include breakpoint(large) { 
            padding: 20px;
            margin-top: -20px;
            margin-right: -16px;
        }
        
        &:hover,
        &:focus {
            color: $white;
        }
    }
}