

<li class="accordion-item " data-accordion-item>
  <a href="javascript:;" class="c-list-hover__link" data-img="{{img-link}}">
    <div class="o-list-inline">
        <div class="o-list-inline__item">
          {{title}}
        </div>
        <div class="o-list-inline__item">
            {{value}}
              <b class="c-list-hover__icon"> &#8628;</b>
        </div>
    </div>
    
  </a>
  
  <div class="accordion-content " data-tab-content>
      <img class="js-sm-img-src c-list-hover__sm-img" src="" alt="">
      <p class="c-list-hover__lg-info"> {{content}}</p>

  </div>
</li>