<section class="o-gallery">

        <div class="grid-x grid-margin-x h-space">

                <div class="medium-3 medium-offset-1 cell">
                    <div class="c-img-thumb">
            
                        <img src="{{root}}assets/img/home-page/artboar01.jpg" alt="">
                        <p>Latrobe St, Winsdorr </p>
                    </div>
            
            
                </div>
                <div class="medium-5 medium-offset-2 cell">
        
            
                    <div class="c-img-thumb ">
            
                        <a href="{{root}}space/the-8th-avenue.html" class="c-img-thumb__wrap   c-img-thumb__wrap--green">
                            <img src="{{root}}assets/img/home-page/artboar02.jpg" alt="">
                            <div class="c-img-thumb__title">
                                The 8th Avenue
                            </div>
                            <div class="c-img-thumb__text">
                                Coming Soon
                            </div>
                        </a>
            
                    </div>
                </div>
            </div>
            
            <div class="grid-x grid-margin-x h-space">
            
                <div class="medium-10 medium-offset-1 cell">
                        <div class="c-img-thumb">
            
                                <a href="#" class="c-img-thumb__wrap  c-img-thumb__wrap--lime ">
                                    <img src="{{root}}assets/img/home-page/artboar03.jpg" alt="">
                                    <div class="c-img-thumb__title">
                                        Siganture, Boardbeach
                                    </div>
                                    <div class="c-img-thumb__text">
                                       In Construction
                                    </div>
                                </a>
                    
                            </div>
                </div>
            </div>
            
            <div class="grid-x grid-margin-x h-space">
            
                <div class="medium-5 cell">
                    <div class="c-img-thumb">
            
                        <img src="{{root}}assets/img/home-page/artboar04.jpg" alt="">
                        <p>Latrobe St, Winsdor</p>
                    </div>
                </div>
                <div class="medium-5 medium-offset-2 cell">
                    <div class="c-img-thumb ">
            
                        <a href="#" class="c-img-thumb__wrap c-img-thumb__wrap--pink">
                            <img src="{{root}}assets/img/home-page/artboar05.jpg" alt="">
                            <div class="c-img-thumb__title">
                                Broadbeach asdasd
                            </div>
                            <div class="c-img-thumb__text">
                                <div>Open Day</div>
                                <div>TUES, 24-2-18</div>
                                <div>11:30AM</div>
                            </div>
                        </a>
            
                    </div>
                </div>
            </div>
</section>