<li class="c-list-hover__item">
  <a href="javascript:;" class="c-list-hover__link" data-img="{{img-link}}">
      <div class="o-list-inline">
          <div class="o-list-inline__item">
            {{title}}
          </div>
          <div class="o-list-inline__item">
              {{value}}
                <b class="c-list-hover__icon"> &#8628;</b>
          </div>
      </div>
      
  </a>
  <img class="js-sm-img-src c-list-hover__sm-img" src="" alt="">
    <small class="c-list-hover__lg-info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lorem ligula, hendrerit id scelerisque ac, sagittis non neque. Nam a sollicitudin augue. Proin tortor metus, ultrices in finibus sed, vulputate a nisl. Etiam eu auctor velit. Nam iaculis, nisi eget lobortis congue, nunc nisi rhoncus libero, quis sagittis nisl mi 
    </small>
</li>