<div class="orbit c-orbit c-orbit--custom" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous">
        <span class="show-for-sr">Previous Slide</span>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      </button>
      <button class="orbit-next">
        <span class="show-for-sr">Next Slide</span>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <a href="#" class="js-modal-open" data-open="modal-gallery">

            <img class="orbit-image" src="https://images.unsplash.com/photo-1521566878949-d0febfb1e9bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3b5ee0942ce548abde8fbd1cb096330&auto=format&fit=crop&w=1887&q=80" alt="Space">
          </a>


        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <a href="#" class="js-modal-open"  data-open="modal-gallery">

            <img class="orbit-image" src="https://images.unsplash.com/photo-1502818649806-3460a6c6c293?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4204ec6df1db10c10538c72884bb8463&auto=format&fit=crop&w=1780&q=80" alt="Space">
          </a>

        </figure>
      </li>
       
    </ul>
  </div>

</div>