<div class="orbit c-orbit c-orbit--custom" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous " >
        <span class="show-for-sr">Previous Slide</span>
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      </button>
      <button class="orbit-next"  >
        <span class="show-for-sr">Next Slide</span>
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">


            <img class="orbit-image"  src="{{root}}assets/img/assets/asset-11.jpg" alt="Space">
         


        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
     
            
            <img class="orbit-image"  src="{{root}}assets/img/assets/asset-9.jpg" alt="Space">
          

        </figure>
      </li>
       
    </ul>
  </div>

</div>

<a href="#" class="js-modal-open" data-open="modal-gallery">

  Fullscreen
</a>