<div class="c-slider" id="js-modal-slider">
    <figure>
        <img class="c-slider__img" src="{{root}}assets/img/home-page/artboar01.jpg" alt="">
       
    </figure>
    <figure>
        <img  class="c-slider__img"  src="{{root}}assets/img/home-page/artboar02.jpg" alt="">
     
    </figure>
    <figure>
        <img  class="c-slider__img"  src="{{root}}assets/img/home-page/artboar03.jpg" alt="">
 
    </figure>
    <figure>
        <img  class="c-slider__img"  src="{{root}}assets/img/home-page/artboar04.jpg" alt="">
     
    </figure>
    
</div>
<p class="c-slide-count">
        <span class="c-slide-count__current"></span> /
        <span class="c-slide-count__total"></span>
        - Title
</p>