<div class="grid-container fluid ">

    <div class="grid-x grid-margin-x">
        <div class="medium-12 cell c-details">
            <a class="c-details__dl" href="#" download>Product Brochure PDF (6.1mb)</a>
            <h3 class="c-details__title">About</h3>
            <p class="c-details__text">Boutique in scale, Peel employs a contemporary approach to living that delivers timeless elegance. Melbourne
                architects, DKO, have created a strong, unique aesthetic that both complements and contributes to the urban
                fabric – articulating a single form through racking ngles, a white brick aesthetic and metal-hooded windows.</p>
                <h3 class="c-details__title">Sketches by DKO Architects</h3>
                {{> slider-the-8th-avenue}}
                <blockquote class="c-details__qoutes" cite="http://www.worldwildlife.org/who/index.html">
                    “Boutique in scale, Peel employs a contemporary approach to living that delivers timeless elegance. Melbourne architects,
                    DKO, have created a strong, unique aesthetic that both complements and contributes to the urban fabric –
                    articulating a single form through racking angles, a white brick aesthetic and metal-hooded windows”
                </blockquote>
    
                <div class="c-details__author">— Barton Hess, Principal Architect</div>
                <h3 class="c-details__title">Construction — 17 AUG</h3>
                <form action="" class="c-from--light">
                    <p> Register your interest </p>
                        <div class="c-inline-form">
                            <div class="c-inline-form__wrap">
                                <label for="name" class="text-right">Name: </label>
                            </div>
                            <div class="c-inline-form__wrap">
                                <input type="text" id="name" placeholder="">
                            </div>
                        </div>
         
               
                        <div class="c-inline-form">
                            <div class="c-inline-form__wrap">
                                <label for="email" class="text-right ">Email: </label>
                            </div>
                            <div class="c-inline-form__wrap">
                                <input type="email" id="email" placeholder="">
                            </div>
                        </div>
                        <div class="c-inline-form">
                            <div class="c-inline-form__wrap">
                                <label for="phone" class="text-right ">Phone: </label>
                            </div>
                            <div class="c-inline-form__wrap">
                                <input type="text" id="phone" placeholder="">
                            </div>
                        </div>
                     
    
    
                        <button class="button hollow " type="submit" value="Submit">Submit</button>
                    </form>
        </div>

    </div>
</div>