[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  &:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}
